<script>
    var menu_id = "{{menu_id}}";
	console.log('menu:')
	console.log(menu_id)
</script>
<div class="sidebar" data-color="purple" data-background-color="white" data-image="../img/sidebar-1.jpg">
	<div class="logo">
		<a href="http://www.creative-tim.com" class="simple-text logo-mini">
            Bot CMS
          </a>
	</div>
	<div class="sidebar-wrapper">
		<ul class="nav">
			<li class="nav-item ng-class:{active: ui.menuDialogShow} ">
				<a class="nav-link" href="/admin?menuid=hola">
					<i class="material-icons">forum</i>
					<p>Diálogos {% ui.menu_id %}</p>
				</a>
			</li>
			<li class="nav-item ng-class:{active: ui.menuConfigShow}">
				<a class="nav-link" href="/admin/config">
					<i class="material-icons">dashboard</i>
					<p>Configuración {% reloj %}</p>
				</a>
			</li>
			<!-- your sidebar here -->
		</ul>
	</div>
</div>
