<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Nuevo Script</h4>
          <p class="card-category">Nuevo Diálogo</p>
        </div>
        <div class="card-body">
          <form name="add_command" ng-submit="addCommand()">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label class="bmd-label-floating">Nombre</label>
                  <input type="text" class="form-control full-width"  ng-model="command.trigger" placeholder="Create a script" required></input>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="bmd-label-floating">Descripción</label>
                  <input type="text" class="form-control full-width" ng-model="command.description" placeholder="Describe what this script does" required></input>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right" class="primary">Crear</button>
            <button type="button" class="btn btn-danger pull-right" ng-click="ui.modal_create=false;">Cancelar</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<form name="add_command" ng-submit="addCommand()">
  <div class="editor_modal_box">
    <header>
      <h1>New Script</h1>
    </header>
    <section>
      <div class="bigform">
            <p>
              <label>Name:</label>
              <input type="text" class="full-width" ng-model="command.trigger" placeholder="Create a script" required></input>
            </p>

            <p>
              <label>Description:</label>
              <input type="text" class="full-width" ng-model="command.description" placeholder="Describe what this script does" required></input>
            </p>
        </div>
    </section>
    <footer>
      <button class="btn btn-primary pull-right" type="submit" class="primary">Crear</button>
      <button class="btn btn-danger pull-right" type="button" ng-click="ui.modal_create=false;">Cancelar</button>

    </footer>
  </div>
</form>
