{{> modal}}

<div ng-controller="editBot" class="fullscreen">
    {{> nav}}
    <div class="workspace_wrapper"" ng-controller="botCommands">
            <div class="toolbar">
                <div ng-if="!ui.export_mode" class="righthand_tool">
                    <button class="lockable btn btn-primary" ng-click="toggleExportMode()">Exportar</button>
                    <button class="lockable btn btn-primary" ng-click="toggleImportMode()">Importar</button>
                </div>
                <div ng-if="ui.export_mode" class="righthand_tool">
                    <button ng-disabled="ui.export_count==0" ng-click="createExport()" class="btn btn-primary primary">
                      <span ng-if="ui.export_count > 0">Exportar {% ui.export_count %}</span>
                      <span ng-if="ui.export_count <= 0">Seleccionar script para exportar</span>
                    </button>
                    <button ng-click="toggleExportMode()" class="btn btn-danger">Cancelar</button>
                </div>

                <div>
                    <button class="lockable btn btn-primary" ng-click="createScriptModal()">Nuevo</button>
                    <input type="search" ng-model="ui.filter" placeholder="Filtrar Scripts" />
                    <label><input class="clearninput" type="checkbox" ng-model="ui.searchScript" id="searchScript"> buscar en modo - full text</label>
                </div>

            </div>

    <div class="workspace">
        <div class="workspace_body">

            <table>
                <tr>
                    <th class="sortable" ng-click="toggleSort('command')">Nombre del Script<span class="sortorder" ng-if="ui.sortField=='command'">▲</span><span class="sortorder" ng-if="ui.sortField=='-command'">▼</span></th>
                    <th>Descripción</th>
                    <th class="sortable" ng-click="toggleSort('modified')">Modificado <span class="sortorder" ng-if="ui.sortField=='-modified'">▼</span><span class="sortorder" ng-if="ui.sortField=='modified'">▲</span></th>
                    <th ng-if="!ui.export_mode">Acciones</th>
                    <th ng-if="ui.export_mode">Exportar</th>
                </tr>
                <tr ng-repeat="command in commands | orderBy: ui.sortField | filter:filterRow" class="ng-class: {selected: ui.export_mode && !command.exclude_from_export, is_fallback: (command.is_fallback)};">
                    <td>
                        <a ng-href="/admin/edit/{% command.command | encodeURIComponent %}">{% command.command %}</a>
                        <div class="fallback_flag">(emergente)</div>
                    </td>
                    <td>
                        <div>{% command.description %}</div>
                        <div ng-if="command.tags && command.tags.length" class="tags">
                            <a href="#" ng-repeat="t in command.tags" ng-click="filter_by_tag(t, $event)" class="tag"><i class="fa fa-tag" aria-hidden="true"></i> {% t %}</a>
                        </div>
                    </td>
                    <td ng-bind="command.modified | date:'MM/dd/yy'"></td>

                    <td ng-if="ui.export_mode" class="checkbox" ng-click="add_to_export(command)"><input type="checkbox" ng-checked="!command.exclude_from_export"></input>
                    </td>
                    <td class="more" ng-if="!ui.export_mode">
                        <nav>
                            &hellip;
                            <ul>
                                <li ng-if="!command.is_fallback"><a ng-click="setAsFallback(command)">Utilizar como Contingente</a></li>
                                <li ng-if="command.is_fallback">Contingente ✔️️</li>
                                <li class="delete"><a ng-href="#" ng-click="deleteCommand(command)">Borrar</li>
                        </ul>
                    </nav>
                </td>
                </tr>

                <tr ng-if="ui.export_mode" class="box">
                    <td colspan="4">
                    <button ng-disabled="ui.export_count==0" ng-click="createExport()" class="btn btn-primary">
                        <span ng-if="ui.export_count > 0">Exportar {% ui.export_count %}</span>
                        <span ng-if="ui.export_count <= 0">Seleccionar scripts para exportar</span>
                    </button>
                    </td>
                </tr>
             </table>


        <div class="ng-class:{active:ui.modal_create}; editor_modal">
          {{> importexport/modal_create}}
        </div>


        <div class="ng-class:{active:ui.export_display}; editor_modal">
          {{> importexport/modal_export}}
        </div>

        <div class="ng-class:{active:ui.import_mode}; editor_modal">
          {{> importexport/modal_import}}
        </div>
    </div>
    </div>
</div>
</div>
