<div class="container-fluid editor_modal_box">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Nuevo Diálogo</h4>
          <p class="card-category">Crear un nuevo Diálogo</p>
        </div>
        <div class="card-body">
          <form name="add_command" ng-submit="addCommand()">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Nombre</label>
                  <input type="text" class="form-control full-width"  ng-model="command.trigger" placeholder="Create a script" required></input>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Descripción</label>
                  <input type="text" class="form-control full-width" ng-model="command.description" placeholder="Describe what this script does" required></input>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right" class="primary">Crear</button>
            <button type="button" class="btn btn-danger pull-right" ng-click="ui.modal_create=false;">Cancelar</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
