<div class="container-fluid editor_modal_box">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title"> Importar Diálogos</h4>
          <p class="card-category"> Importar Diálogo en formato JSON </p>
        </div>
        <div class="card-body">
          <form name="import_commands" ng-submit="import_unparsed()" ng-if="!commands_for_import.length">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <textarea rows='10' class="json" ng-model="ui.un_parsed_commands" required></textarea>
                </div>
              </div>
            </div>
            <button class="btn btn-primary pull-right" type="submit" class="primary">Importar Diálogo</button>
            <button class="btn btn-danger pull-right" type="button" ng-click="ui.import_mode=false;">Cancelar</button>
            <div class="clearfix"></div>
          </form>
          <div ng-if="commands_for_import.length">
            <table class="sheet importable_scripts table">
              <thead>
                <th>Importar</th>
                <th>Nombre del Diálogo</th>
                <th>Descripción</th>
              </thead>
              <tbody>
              <tr ng-repeat="c in commands_for_import" class="ng-class:{exists: c.already_exist && !c.exclude_from_import};">
                <td class="checkbox">	
                  <div class="form-check">
                    <label class="form-check-label">
                    <input ng-click="add_to_import(c)" class="form-check-input" type="checkbox" ng-checked="!c.exclude_from_import" ></input>
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                    </label>
                  </div>
                </td>
                <td>{% c.command %}</td>
                <td>{% c.description %}</td>
              </tr>
              </tbody>
          </table>
        </div>
        <form name="finalize_import" ng-submit="makeImportApi()" ng-if="commands_for_import.length!=0">
          <button class="primary btn btn-primary pull-right" type="submit">{% ui.import_button_text %}</button>
          <!--<button class="btn btn-danger pull-right" type="button" ng-click="ui.import_mode=false;">Cancelar</button> -->
        </form>
      </div>
    </div>
  </div>
</div>
