<div class="editor_modal_box">
    <header>
      <h3>Exportar Diálogo</h3>
      <p>Descargar Diálogo o copiar el contenido en formato JSON</p>
    </header>
    <section class="box">
      <textarea rows='10' id="export" readonly>{% parsed_commands | json %}</textarea>
    </section>
    <footer>
      <a class="btn btn-success pull-right" ng-href="{% ui.exported_text %}" download="scripts.json">Descargar</a>
      <button class="btn btn-info pull-right" ngclipboard data-clipboard-target="#export" ngclipboard-success="clipped(e);" ngclipboard-error="clipError(e);"><i class="fa fa fa-clipboard"></i> {% ui.copy %}</button>
      <button class="btn btn-primary pull-right" ng-click="clearExport()">Regresar</button>
    </footer>
</div>
