<div class="editor_modal_box" ng-if="ui.modal_export">
  <header>
    <h1>Exportar Script (lorito bot)</h1>
    <p>Descargar y exportar scripts, o copiar el archivo JSON.</p>

  </header>
  <section>
    <textarea rows="10" id="export" readonly ng-model="ui.export_json"></textarea>
  </section>
  <footer>
    <a class="button" ng-href="{% ui.exported_text %}" download="scripts.json">Descargar</a>
    <button ngclipboard data-clipboard-target="#export" ngclipboard-success="clipped(e);" ngclipboard-error="clipError(e);"><i class="fa fa fa-clipboard"></i> {% ui.copy %}</button>
    <button ng-click="ui.modal_export=false">Aceptar</button>
  </footer>
</div>
