<form ng-submit="renameThread(thread,ui.rename_thread)">
<div class="container-fluid editor_modal_box" ng-if="ui.editbranch">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary" ng-if="!ui.newbranch">
          <h4 class="card-title"> Modificar Hilo </h4>
          <p class="card-category"> Modificar Hilo </p>
        </div>
        <div class="card-header card-header-primary" ng-if="ui.newbranch">
          <h4 class="card-title"> Agregar Hilo </h4>
          <p class="card-category"> Agregar Hilo</p>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating"> Hilo </label>
                  <input type="text" ng-model="ui.rename_thread" class="form-control full-width" required></input>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right" class="primary">Guardar</button>
            <button type="button" class="btn btn-danger pull-right" ng-click="ui.editbranch=false; ui.newbranch=false;">Cancelar</button>
            <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
